.card {
    border: 2px solid #2196F3;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
}

.date {
    margin-bottom: 30px;
}

.date h4 {
    margin: 0;
}