#CurrentWeather-con {
    margin-top: 250px;
    border: 2px solid #2196F3;
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}



 #CurrentWeather-con h1 {
    margin: 0;
}

#CurrentWeather-con h4 {
    margin-top: 5px;
}

#five-day-con {
    margin: 5% 0
}

#favorites-button {
    border: 1px solid #f27c21;
    background-color: #f2f2f2;
    border-radius: 2px;
    height: 30px;
}

.star {
    opacity: 0.4;
    color: #ffe100;
    transition: 0.5s;
}

.favorite {
    opacity: 1;
}

.star :hover {
    cursor: pointer;
}

#right-box-header{
    display: flex;
    flex-direction: column;
}

.toggle-unit{
    width: 30px;
    margin-top: 10px;
    border: 2px solid #2196F3;
    border-radius: 20px;
}

.toggle-unit {
    cursor: pointer;
}